block content
#ballet.w3-container.w3-padding-32
  .w3-col
    .w3-display-container
      img.w3-image(src='/images/balletBanner.png' alt='Ballet' width='1500' height='400')
      .w3-display-leftNew.w3-margin-top.w3-center
        h1.w3-xxlarge.w3-text-black
          span.w3-padding-large.w3-grey.w3-opacity-min.w3-codespan
            b Ballet
  .w3-row-padding
    .w3-col.l7.m6.w3-margin-bottom
      .w3-display-container
        .w3-justify
          .w3-padding-32
            h3 De lesinhoud
            p
              | Ballet, hoogstwaarschijnlijk de meest intensieve en stricte stijl die er bestaat. Laat je niet afschrikken, in deze lessen worden kracht, flexibilieit en stabiliteit opgebouwd. Wil je je ook voelen als een veertje in de lucht? Dan is deze stijl zeker iets voor jou. een goede techniek ligt aan de basis van ballet, en dit staat dan ook centraal. Natuurlijk is er ook altijd tijd voor een combinatie. Wanneer de enkels sterk genoeg zijn, kan er overgeschakeld worden naar pointe. Veerle zal je alle kneepjes van het vak aanleren.
            .w3-col.l1.m6.w3-margin-bottom
              .w3-padding-8.w3-greyscale
                img.w3-image(src='/images/agenda.png' alt='Move dancecenter' width='50' height='50')
            .w3-col.l5.m6.w3-margin-bottom
              p
                | Les beginners op zaterdag van 14u30 tot 15u30
                br
                | Les gevorderden op zaterdag van 15u30 tot 16u30
                br
                | Les beginners Pointe op dinsdag van 17u00 tot 18u00
                br
                | Les gevorderden Pointe op dinsdag van 18u00 tot 19u00
            .w3-col.l1.m6.w3-margin-bottom
              .w3-padding-8.w3-greyscale
                img.w3-image(src='/images/pictogramDans.png' alt='zaal pictogram' width='50' height='50')
            .w3-col.l5.m6.w3-margin-bottom
              p
                | zaal 1
            .w3-row-padding.w3-grayscale
              .w3-col.l6.m6.w3-margin-bottom.w3-left-align
                p
                  | Gratis proefles in de week van 2 tot 6 januari.
                a.w3-button.w3-light-grey.w3-block(href=`mailto:info@dancemove.be?SUBJECT=Gratis proefles ballet`) Gratis Proefles
              .w3-col.l6.m6.w3-margin-bottom.w3-left-align
                p
                  | Zin om mee te doen?
                a.w3-button.w3-light-grey.w3-block(href='/inschrijvingsFormulier?t=4')
                  | schrijf je in!
    .w3-col.l5.m6.w3-margin-bottom
      .w3-display-container.w3-padding-64.w3-greyscale
        .video-container
            iframe(width='560' height='315' src='https://www.youtube.com/embed/UT7ilqcoTWI' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
