block content
#over.w3-container.w3-padding-32
  .w3-justify
    //form(method='post', action='/change')
    div
        a.w3-button.w3-light-grey.w3-block-50.verzendbtn(onclick='verzendFormulier()')
            | Verzenden
        a.w3-button.w3-light-grey.w3-block-50.annulbtn(onclick='annuleerFormulier()')
            | Annuleren
