block content
#hiphop.w3-container.w3-padding-32
  .w3-col
    .w3-display-container
      img.w3-image(src='/images/hiphopBanner.png' alt='Hiphop' width='1500' height='400')
      .w3-display-leftNew.w3-margin-top.w3-center
        h1.w3-xxlarge.w3-text-black
          span.w3-padding-large.w3-grey.w3-opacity-min.w3-codespan
            b Hiphop
  .w3-row-padding
    .w3-col.l7.m6.w3-margin-bottom
      .w3-display-container
        .w3-justify
          .w3-padding-32
            h3 De lesinhoud
            p
              | Hiphop is een stijl zonder regels of technieken. Laat je gaan, en dans de energie uit je lijf. Wat vaak aanzien wordt als een stoere, explosieve stijl, kan soms ook compact en gedetaileerd zijn. Maak in deze les ook kennis met de verschillende stijlen binnen Hiphop, popping, locking, urban, en nog vele meer. Onder begeleiding van Sander worden choreografieen aangeleerd en grenzen verlegd.
            .w3-col.l1.m6.w3-margin-bottom
              .w3-padding-8.w3-greyscale
                img.w3-image(src='/images/agenda.png' alt='Move dancecenter' width='50' height='50')
            .w3-col.l5.m6.w3-margin-bottom
              p
                | Les beginners op woensdag van 19u30 tot 20u30
                br
                | Les gevorderden op woensdag van 20u30 tot 21u30
            .w3-col.l1.m6.w3-margin-bottom
              .w3-padding-8.w3-greyscale
                img.w3-image(src='/images/pictogramDans.png' alt='zaal pictogram' width='50' height='50')
            .w3-col.l5.m6.w3-margin-bottom
              p
                | zaal 2
            .w3-row-padding.w3-grayscale
              .w3-col.l6.m6.w3-margin-bottom.w3-left-align
                p
                  | Gratis proefles in de week van 2 tot 6 januari.
                a.w3-button.w3-light-grey.w3-block(href=`mailto:info@dancemove.be?SUBJECT=Gratis proefles hiphop`) Gratis Proefles
              .w3-col.l6.m6.w3-margin-bottom.w3-left-align
                p
                  | Zin om mee te doen?
                a.w3-button.w3-light-grey.w3-block(href='/inschrijvingsFormulier?t=2')
                  | schrijf me in!
    .w3-col.l5.m6.w3-margin-bottom
      .w3-display-container
        include videoHiphop
