block content
#koppeldansen.w3-container.w3-padding-32
  .w3-col
    .w3-display-container
      img.w3-image(src='/images/koppelBanner.png' alt='Koppeldans' width='1500' height='400')
      .w3-display-leftNew.w3-margin-top.w3-center
        h1.w3-xxlarge.w3-text-black
          span.w3-padding-large.w3-grey.w3-opacity-min.w3-codespan
            b Koppeldansen
  .w3-row-padding
    .w3-col.l7.m6.w3-margin-bottom
      .w3-display-container
        .w3-justify
          .w3-padding-32
            h3 De lesinhoud
            p
              | Leer in deze lessen de basispassen van een aantal alomgekende dansstijlen. Kom met je partner, of indien je geen partner hebt, kan u deze via de facebook pagina vinden. Martine en Ronny leren hier met veel passie, onder andere de batchata, de salsa en de wals aan. Persoonlijke begeleiding, en natuurlijk een leuke groepsfeer zijn altijd aanwezig. Ga je naar een trouwfeest, of gewoon een dansfeest, komen de aangeleerde stappen altijd van pas. Leer je als vrouw te laten leiden en als man de leiding te nemen en vol de connectie versterken. Dansen doen we niet alleen op klassieke standaard muziek, maar ook de hededaagse pop muziek vindt hier een plaatsje.
            .w3-col.l1.m6.w3-margin-bottom
              .w3-padding-8.w3-greyscale
                img.w3-image(src='/images/agenda.png' alt='Move dancecenter' width='50' height='50')
            .w3-col.l5.m6.w3-margin-bottom
              p
                | Les beginners op dinsdag van 17u30 tot 19u00
                br
                | Les gevorderden op dinsdag van 19u00 tot 21u30
            .w3-col.l1.m6.w3-margin-bottom
              .w3-padding-8.w3-greyscale
                img.w3-image(src='/images/pictogramDans.png' alt='zaal pictogram' width='50' height='50')
            .w3-col.l5.m6.w3-margin-bottom
              p
                | zaal 1
            .w3-row-padding.w3-grayscale
              .w3-col.l6.m6.w3-margin-bottom.w3-left-align
                p
                  | Gratis proefles in de week van 2 tot 6 januari.
                a.w3-button.w3-light-grey.w3-block(href=`mailto:info@dancemove.be?SUBJECT=Gratis proefles koppeldansen`) Gratis Proefles
              .w3-col.l6.m6.w3-margin-bottom.w3-left-align
                p
                  | Zin om mee te doen?
                a.w3-button.w3-light-grey.w3-block(href='/inschrijvingsFormulier?t=3')
                  | schrijf me in!
    .w3-col.l5.m6.w3-margin-bottom
      .w3-display-container.w3-greyscale.w3-padding-64
        .video-container
            iframe(width='560' height='315' src='https://www.youtube.com/embed/vwGp16NXgQU' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
