block content
#modernJazz.w3-container.w3-padding-32
  .w3-col
    .w3-display-container
      img.w3-image(src='/images/modernBanner.png' alt='Modern Jazz' width='1500' height='400')
      .w3-display-leftNew.w3-margin-top.w3-center
        h1.w3-xxlarge.w3-text-black
          span.w3-padding-large.w3-grey.w3-opacity-min.w3-codespan
            b Modern Jazz
  .w3-row-padding
    .w3-col.l7.m6.w3-margin-bottom
      .w3-display-container
        .w3-justify
          .w3-padding-32
            h3 De lesinhoud
            p
              | Modern Jazz is een dansstijl met verschillende invloeden. Zo is er de technische kant van jazz, gecombineerd met de vloeiende kant van modern. Vloerwerk gecombineerd met sprongen en andere uitdagende elementen. Het is vandaag de dag een van de meest favoriete dansstijlen van vele dansers. Bij deze lessen ligt de focus niet alleen op choreografie en dans, maar ook op flexibiliteit en cöordinatie. Ga samen met Evelyn dit avontuur aan.
            .w3-col.l1.m6.w3-margin-bottom
              .w3-padding-8.w3-greyscale
                img.w3-image(src='/images/agenda.png' alt='Move dancecenter' width='50' height='50')
            .w3-col.l5.m6.w3-margin-bottom
              p
                | Les beginners op dinsdag van 19u30 tot 20u30
                br
                | Les gevorderden op zaterdag van 13u30 tot 15u30
            .w3-col.l1.m6.w3-margin-bottom
              .w3-padding-8.w3-greyscale
                img.w3-image(src='/images/pictogramDans.png' alt='zaal pictogram' width='50' height='50')
            .w3-col.l5.m6.w3-margin-bottom
              p
                | zaal 3
            .w3-row-padding.w3-grayscale
              .w3-col.l6.m6.w3-margin-bottom.w3-left-align
                p
                  | Gratis proefles in de week van 2 tot 6 januari.
                a.w3-button.w3-light-grey.w3-block(href=`mailto:info@dancemove.be?SUBJECT=Gratis proefles modern jazz`) Gratis Proefles
              .w3-col.l6.m6.w3-margin-bottom.w3-left-align
                p
                  | Zin om mee te doen?
                a.w3-button.w3-light-grey.w3-block(href='/inschrijvingsFormulier?t=1')
                  | schrijf me in!
    .w3-col.l5.m6.w3-margin-bottom
      .w3-display-container
        include videoMJ
