block content
#over.w3-container.w3-padding-32
  h3.w3-border-bottom.w3-border-light-grey.w3-padding-16.w3-justify Over
  .w3-justify
    p
      | Move dancecenter is een dansschool gelegen in het Oost-Vlaamse Aalst. Sinds 1993 komen leerlingen hier hun emoties uit het lijf dansen, dit onder begeleiding van verschillende professionele leraren. Binnen de lessen ontstaat er een hechte sfeer, waar elke danser de vrijheid krijgt om zich volledig te uiten. In deze studio worden niet alleen solodansen gegeven zoals Modern Jazz en hiphop, maar ook koppeldansen, zoals salsa en batchata kunnen hier aangeleerd worden. Dit onder begeleiding van Martine en Ronny. Op het einde van het dansjaar, rond eind mei, is ook altijd een recital. Deelnemen aan dit optreden is volledig vrijblijvend. Toch is het de ideale moment om stil te staan bij de gemaakte vooruitgang. Leerlingen staan centraal en werken rond een thema. Dit zorgt voor een versterkte groepsdynamiek. Het plezier staat hier op de gezichten te lezen.
    p
      | De Move is ook bekend op het professioneel dans vlak. Zo hebben de Grovies jaren ervaring in deze sector. Zo zijn we te zien in heel wat videoclips, en ook de winnaar van my name is Michael, Christ&apos;of is een van onze vaste leerkrachten. The Groovies geven wekelijkse optredens, walking diners, en de laatste jaren gingen ze nog een stapje verder. Naast dans en zang wordt er nog een portie illusie aan toegevoegd. Dit was te zien in &apos;Belgium Got Talent&apos; in 2016. Patrick de Coninck, de oprichter van de danscompagnie, heeft dan ook een vaste waarde. Andere &apos;grote&apos; namen hebben hier reeds les gegeven. Michel Froget, Ish, Yannick D&apos;haese, en nog vele meer.
.w3-row-padding.w3-grayscale
  .w3-col.l3.m6.w3-margin-bottom
    img(src='/images/veerle.png' alt='Veerle Taleman' style='width:100%')
    h3 Veerle Taleman
    p.w3-opacity CEO & choreografe
    p
      | Zelf heeft ze een liefde voor dans, en deze toont ze al jaren met haar choreografiën voor de optredens.

  .w3-col.l3.m6.w3-margin-bottom
    img(src='/images/Evelyn.png' alt='Evelyn De Smet' style='width:100%')
    h3 Evelyn De Smet
    p.w3-opacity Lerares
    p
      | Afgestudeerd aan de koninklijke balletschool van Amsterdam.

  .w3-col.l3.m6.w3-margin-bottom
    img(src='/images/sander.png' alt='Sander De Sutter' style='width:100%')
    h3 Sander De Sutter
    p.w3-opacity Leraar
    p
      | Danser in de Groovies, en gewaardeerd lid van ons lerarenteam.
