block content
  .w3-row-padding.w3-grayscale.w3-padding-48
    video(height='105%', width='105%', controls)
      source(src='/videos/dansHiphop.mp4', type='video/mp4')
      source(src='/videos/dansHiphop.webm', type='video/webm')
      source(src='/videos/dansHiphop.mov', type='video/mov')